@import "tailwindcss";

:root{
    --border-div: #cbd0dd;
}
input,textarea,select{
    outline: none;
}
button{
    cursor: pointer;
}
.bg-div{
    background: #f3f3f3;
}
.text-main{
    color: #2f904b;
}
.text-color{
    color: #393939d2;
}
.border-b-custom{
    border-bottom: 1px solid var(--border-div);
}
.border-t-custom{
    border-top: 1px solid var(--border-div);
}
.border-l-custom{
    border-left: 1px solid var(--border-div);
}
.border-r-custom{
    border-right: 1px solid var(--border-div);
}
.border-custom{
    border: 1px solid var(--border-div);
}
.main{
    width: calc(100% - 240px);
}
.bg-circle{
    background: #e3e6edce;
}
.trans_icon_status {
    transform:  rotate(-10deg);
}
.-trans_icon_status{
    transform:  rotate(10deg);
}
.sub_text{
    font-size: 12px;
    color: #888;
}
.row-table:hover .time_text{
    display: none;
}
.row-table:hover .option{
    display: flex;
}
